<nav>
    <div class="logout-button">
        <a href="/logout">
            Logout
        </a>
    </div>
</nav>

<h1>Search it, Buy it!</h1>

<div class="result-container">

    {{#each apiData}}
    <div class="result-card">
        <div>
            <a target="_blank" rel="noopener noreferrer" href="{{this.link}}">
                <img src={{this.thumbnail}} class="resultImage" />
            </a>

        </div>
        <div class="result-details">
            <a class="result-link" href="{{this.link}}" target="_blank" rel="noopener noreferrer">
                <p>
                {{this.title}}

                </p>
            </a>
            {{#if this.price.raw}}
                <span> 
                    Price: {{this.price.raw}}
                </span>
            {{/if}}

        </div>
    </div>
    {{/each}}
</div>

